* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* hsla() function hue, saturation, lightness, opacity(a) 
this gave background alternate vertically with more options of 
color control */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.menu-container {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 400px;
  position: relative;
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 85px;
  color: whitesmoke;
  background: black;
  z-index: 1;
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  transition: transform 1.5s;
  animation: flash 5s ease-in-out infinite;
}

@keyframes flash {
  0% {
    text-shadow: 0 0 5px #ffff00, 0 0 10px #ffff00, 0 0 15px #ffff00,
      0 0 20px #ffff00, 0 0 25px #ffff00;
    box-shadow: 0 0 5px #ffff00, 0 0 10px #ffff00, 0 0 15px #ffff00,
      0 0 20px #ffff00, 0 0 25px #ffff00;
  }
  33% {
    text-shadow: 0 0 5px #00fa9a, 0 0 10px #00fa9a, 0 0 15px #00fa9a,
      0 0 20px #00fa9a, 0 0 25px #00fa9a;
    box-shadow: 0 0 5px #00fa9a, 0 0 10px #00fa9a, 0 0 15px #00fa9a,
      0 0 20px #00fa9a, 0 0 25px #00fa9a;
  }
  66% {
    text-shadow: 0 0 5px #ff6600, 0 0 10px #ff6600, 0 0 15px #ff6600,
      0 0 20px #ff6600, 0 0 25px #ff6600;
    box-shadow: 0 0 5px #ff6600, 0 0 10px #ff6600, 0 0 15px #ff6600,
      0 0 20px #ff6600, 0 0 25px #ff6600;
  }
  100% {
    text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 15px #00ffff,
      0 0 20px #00ffff, 0 0 25px #00ffff;
    box-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 15px #00ffff,
      0 0 20px #00ffff, 0 0 25px #00ffff;
  }
}

.menu-container li {
  list-style: none;
  position: absolute;
  transform-origin: 200px;
  transition: 0.8s;
  z-index: 0;
  left: 0;
  transition-delay: calc(0.1s * var(--i));
  transform: rotate(0deg) translateX(165px);
  border: 2.5px solid white;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .menu-container {
    width: 300px;
  }
  .menu-container li {
    transform-origin: 150px;
    transform: rotate(0deg) translateX(110px);
  }
  .menu-toggle {
    width: 85px;
    height: 85px;
  }
}

.menu-container li a {
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 20px;
  border: 2.5px solid black;
  transition: 0.8s;
}

.menu-container.active .menu-toggle {
  transform: rotate(360deg);
}

.menu-container.active li {
  transform: rotate(calc(360deg / 4 * var(--i)));
}

.menu-container.active li:nth-of-type(2) a {
  transform: rotate(270deg);
}

.menu-container.active li:nth-of-type(3) a {
  transform: rotate(540deg);
}

.menu-container.active li:nth-of-type(4) a {
  transform: rotate(810deg);
}

.projects-link:hover {
  text-shadow: 0 0 5px #ffff00, 0 0 10px #ffff00, 0 0 15px #ffff00,
    0 0 20px #ffff00, 0 0 25px #ffff00;
  box-shadow: 0 0 5px #ffff00, 0 0 10px #ffff00, 0 0 15px #ffff00,
    0 0 20px #ffff00, 0 0 25px #ffff00;
}

.about-link:hover {
  text-shadow: 0 0 5px #00fa9a, 0 0 10px #00fa9a, 0 0 15px #00fa9a,
    0 0 20px #00fa9a, 0 0 25px #00fa9a;
  box-shadow: 0 0 5px #00fa9a, 0 0 10px #00fa9a, 0 0 15px #00fa9a,
    0 0 20px #00fa9a, 0 0 25px #00fa9a;
}

.contact-link:hover {
  text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 15px #00ffff,
    0 0 20px #00ffff, 0 0 25px #00ffff;
  box-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 15px #00ffff,
    0 0 20px #00ffff, 0 0 25px #00ffff;
}

.resume-link:hover {
  text-shadow: 0 0 5px #ff6600, 0 0 10px #ff6600, 0 0 15px #ff6600,
    0 0 20px #ff6600, 0 0 25px #ff6600;
  box-shadow: 0 0 5px #ff6600, 0 0 10px #ff6600, 0 0 15px #ff6600,
    0 0 20px #ff6600, 0 0 25px #ff6600;
}
