* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* hsla() function hue, saturation, lightness, opacity(a) 
this gave background alternate vertically with more options of 
color control */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: repeating-linear-gradient(
      180deg,
      hsla(0, 0%, 5%, 0.1) 0px,
      hsla(5, 0%, 55%, 0.1) 2px
    ),
    linear-gradient(180deg, gray, black);
}

.menu-container {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 400px;
  position: relative;
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  z-index: 1;
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  transition: transform 1.5s;
  border: 2px solid black;
  box-shadow: 0 0 10px 0 black, 0 0 20px 0 black, 0 0 30px 0 black;
}

.menu-container li {
  list-style: none;
  position: absolute;
  transform-origin: 200px;
  transition: 0.8s;
  z-index: 0;
  left: 0;
  transition-delay: calc(0.1s * var(--i));
  transform: rotate(0deg) translateX(170px);
}

@media screen and (max-width: 768px) {
  .menu-container {
    width: 300px;
  }
  .menu-container li {
    transform-origin: 150px;
    transform: rotate(0deg) translateX(125px);
  }
}

.menu-container li a {
  justify-content: center;
  align-items: center;
  display: flex;
  color: black;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 15px;
  border: 5px solid black;
  transition: 0.8s;
}

.menu-container.active .menu-toggle {
  transform: rotate(360deg);
}

.menu-container.active li {
  transform: rotate(calc(360deg / 4 * var(--i)));
}

.menu-container.active li:nth-of-type(2) a {
  transform: rotate(270deg);
}

.menu-container.active li:nth-of-type(3) a {
  transform: rotate(540deg);
}

.menu-container.active li:nth-of-type(4) a {
  transform: rotate(810deg);
}

.projects-link:hover {
  text-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px red,
    0 0 50px red;
}

.about-link:hover {
  text-shadow: 0 0 10px blue, 0 0 20px blue, 0 0 30px blue, 0 0 40px blue,
    0 0 50px blue;
}

.contact-link:hover {
  text-shadow: 0 0 10px green, 0 0 20px green, 0 0 30px green, 0 0 40px green,
    0 0 50px green;
}

.resume-link:hover {
  text-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow,
    0 0 40px yellow, 0 0 50px yellow;
}
