.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: Allerta Stencil;
}

/* remove scrollbars */
.projects-container::-webkit-scrollbar {
  display: none;
}

.projects-box {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 20px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: 0 8px 32px 0 rgba(22, 85, 127, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: all 0.3s ease;
  overflow: hidden;
}

.projects-box::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.2) 40%,
    rgba(255, 255, 255, 0.1)
  );
  z-index: -1;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.projects-box:hover {
  transform: scale(1.05);
  border-radius: 50%;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4),
    inset 0 0 0 2px rgba(0, 255, 236, 0.12), 0 0 5px rgba(255, 252, 0, 0.1);
}

.projects-box:hover::before {
  opacity: 0.6;
  transform: translate(17.5%, 150%) scale(1.5);
  height: 25%;
  width: 75%;
  /* add gradient to the background */
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 0.725),
    rgba(43, 255, 0, 0.738) 40%,
    rgba(255, 255, 255, 0.1)
  );
}

.projects-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.projects-content h2 {
  margin-top: 0;
}

.projects-content p {
  margin-bottom: 0;
}

.projects-content img {
  width: 200px;
  height: 200px;
  border-radius: 5%;
  border: 2px solid gray;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .projects-container {
    padding-top: 20%;
  }
  .projects-box {
    width: 250px;
    height: 250px;
  }
  .projects-content {
    width: 250px;
    height: 250px;
  }
  .projects-content p {
    font-size: 1.25rem;
  }
  .projects-content img {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 480px) {
  .projects-container {
    padding-top: 10%;
  }
  .projects-box {
    width: 250px;
    height: 250px;
  }
  .projects-content {
    width: 200px;
    height: 200px;
  }
  .projects-content p {
    font-size: 1rem;
  }
  .projects-content img {
    width: 100px;
    height: 100px;
  }
}
