.routes-container > * {
  transition: transform 1.5s ease-in-out;
}

.routes-container > .slide-enter {
  transform: translateX(100%);
}

.routes-container > .slide-enter-active {
  transform: translateX(0%);
}

.routes-container > .slide-exit {
  transform: translateX(0%);
}

.routes-container > .slide-exit-active {
  transform: translateX(-100%);
}

.slide-right > * {
  transform: translateX(-100%);
}

.slide-right > .slide-right-enter {
  transform: translateX(100%);
}

.slide-right > .slide-right-enter-active {
  transform: translateX(0%);
}

.slide-right > .slide-right-exit {
  transform: translateX(0%);
}

.slide-right > .slide-right-exit-active {
  transform: translateX(-100%);
}
