.resume-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.resume-container::-webkit-scrollbar {
  display: none;
}

.resume-image {
  z-index: -1;
  border: 5px solid gray;
  width: 100%;
}

.skills-container {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  color: red;
  z-index: -11;
}

.skills-header {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  transform: translate(0%, -400px);
  color: red;
}

.skills-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px wheat;
}

.skills-container img:nth-child(1) {
  transform: rotate(60deg) translateY(-125px) translateX(-125px) rotate(-60deg);
}

.skills-container img:nth-child(2) {
  transform: rotate(120deg) translateY(-125px) translateX(-125px)
    rotate(-120deg);
}

.skills-container img:nth-child(3) {
  transform: rotate(180deg) translateY(-150px) translateX(-125px)
    rotate(-180deg);
}

.skills-container img:nth-child(4) {
  transform: rotate(240deg) translateY(-175px) translateX(-175px)
    rotate(-240deg);
}

.skills-container img:nth-child(5) {
  transform: rotate(300deg) translateY(-125px) translateX(-125px)
    rotate(-300deg);
}

.skills-container img:nth-child(6) {
  transform: rotate(360deg) translateY(-150px) translateX(150px) rotate(-360deg);
}

.skills-container img:nth-child(7) {
  transform: rotate(0deg) translateY(-200px) translateX(-200px) rotate(0deg);
  width: 400px;
  height: 400px;
}
