.resume-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: white;
}

.resume-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  z-index: -1;
  border: 5px solid gray;
}
