.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75vw;
  overflow: hidden;
  color: yellow;
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-section h1 {
  font-size: 3rem;
  animation-name: starwars;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  transform-origin: -50% -100%;
  opacity: 0;
  text-shadow: -4px -4px 0 black, 4px -4px 0 black, -4px 4px 0 black,
    4px 4px 0 black;
}

.about-section p {
  animation-name: starwars;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  transform-origin: -50% -100%;
  opacity: 0;
  font-size: 1.5rem;
}

@keyframes starwars {
  0% {
    opacity: 0;
    transform: scaleY(2);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

@media screen and (max-width: 480px) {
  .about-section h1 {
    font-size: 2rem;
  }
  .about-section p {
    font-size: 1rem;
  }
}
